.bar-chart {
  &-tooltip {
    @include style-definition(column, flex-start, null);
    color: black;
    background-color: $secondary_color;
    border-radius: 0.25rem;
    padding: 0.25rem;
    font-size: 0.8rem;

    div {
      b {
        margin: 0 0.25rem 0 0.25rem;
      }
    }

    &--open {
      display: block;
    }

    &--close {
      display: none;
    }
  }

  &-svg {
    rect {
      transform: scaleY(-1);
      cursor: crosshair;
    }

    &-colored {
      stroke: grey;
      stroke-width: 1;
    }

    &-non-colored {
      stroke: grey;
      stroke-width: 0.25;
      margin: 0.25rem;

      &:hover {
        fill: rgba(255, 255, 255, 0.2);
      }
    }
  }
}
